<h2 align="center">Student Registration Form</h2>
    <%= form_for :student,url: {action: "student_add"} do |f| %>
    <table align="center",border="1">
      <tr>
        <td>Name</td>
        <td><%= f.text_field :std_name %><br /></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= f.text_field :email_id %><br /></td>
      </tr>
      <tr>
          <td>Mobile</td>
          <td><%= f.text_field :mobile_no %><br /></td>
      </tr>
      <tr>
          <td>Address</td>
          <td><%= f.text_field :address %><br /></td>
      </tr>
      <tr>
        <td><%= f.submit("Add Student") %></td>
      </tr>
    </table>
    <% end %>
  
